button{
    background-color: var(--color-brand-1);
    padding: 5px 15px;
    font-size: 24px;
    color:white;
    border-radius: 15px;
}

.esquerda button{
    width: fit-content;
    margin: 0 auto;
}

nav button{
    background-color: var(--color-grey-4);
    padding: 5px 15px;
    font-size: 24px;
    color: var(--color-grey-1);
    border-radius: 15px;
}

nav .select{
    background-color: var(--color-brand-1);
    padding: 5px 15px;
    font-size: 24px;
    color: white;
    border-radius: 15px;
}